.body{
	background-color: #F8E0F1;
}

/**Définir les polices**/

@font-face {
    font-family: 'Animal-Paw';
    src: url('ressources/Animal-Paw.ttf');
}

@font-face {
    font-family: 'Cute-smile';
    src: url('ressources/CuteSmileDemoRegular.ttf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('ressources/Mont-Heavy.otf');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('ressources/MontserratAlternates-Light.otf');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('ressources/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'montserrat-extrabold';
    src: url('ressources/Montserrat-ExtraBold.otf');
}
/********************************************************************/

body {
    background-color: #F8E0F1;
}
h1 {
    color: #1E1C24;
    font-family: montserrat-medium ;
    text-align: center;
    
}

.big-titles {
    color: #1E1C24;
    font-family: montserrat-medium;
    text-align: left;
}

p {
    text-align: center;
    font-family: montserrat-light;
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.column{
    display: inline-block;
    font-family: Cute-smile;
    font-size: small;
}
